* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 320px;
    padding: 25px;
    border: 2px solid #c00000;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(192, 0, 0, 0.2);
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #c00000;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c00000;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #c00000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}
